/* orderstyles.css */

.form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*max-width: 400px;*/
  width: 100%;
}
/*
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
*/
.form-group {
  margin-bottom: 15px;
}

.customlabel {
  display: block;
  font-size: 14px;
  margin-bottom: 0px;
  color: #555;
}

input, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input:focus, select:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
/*
p {
  margin: 0 0 5px;
  font-size: 14px;
  color: #555;
}
*/
input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin-right: 10px;
}
